@font-face {
  font-family: 'rouble';
  src: url("fonts/rouble.eot");
  src: url("fonts/rouble.eot") format('embedded-opentype'), url("fonts/rouble.woff2") format('woff2'), url("fonts/rouble.woff") format('woff'), url("fonts/rouble.ttf") format('truetype'), url("fonts/rouble.svg#rouble") format('svg');
}
@font-face {
  font-family: 'eldoroubleRegular';
  src: url("fonts/eldoroubleRegular.eot");
  src: url("fonts/eldoroubleRegular.eot") format('embedded-opentype'), url("fonts/eldoroubleRegular.woff2") format('woff2'), url("fonts/eldoroubleRegular.woff") format('woff'), url("fonts/eldoroubleRegular.ttf") format('truetype'), url("fonts/eldoroubleRegular.svg#eldoroubleRegular") format('svg');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 21px;
}
html,
input,
textarea,
button,
.button,
select {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
em,
i {
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
html {
  margin: 0px auto;
  padding: 0px;
  color: #000;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
button,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-style: none;
  outline: none;
}
sup {
  position: relative;
  bottom: 5px;
  font-size: 12px;
}
button {
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
.clear {
  clear: both;
}
.clear_h {
  clear: both;
  width: 100%;
  height: 1px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
}
.table_row {
  display: table-row;
}
.table_cell {
  display: table-cell;
  vertical-align: middle;
}
.table_cell_top {
  display: table-cell;
  vertical-align: top;
}
.table_cell_bottom {
  display: table-cell;
  vertical-align: bottom;
}
.cell_txt {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.ff {
  display: inline-block;
  width: 2px;
}
.goods-section .b_order button:hover,
.form-section-form__button:hover,
.banners-section__a-button:hover,
.news-rotator .b-news-link a:hover {
  background: #ea0533;
}
.main-footer__a {
  color: #ccc;
}
.pos-f {
  position: fixed !important;
  top: 0 !important;
  z-index: 99;
}
.ctr {
  left: 50% !important;
  margin-left: -600px !important;
}
.r__u {
  font-family: 'eldoroubleRegular';
  font-size: 15px;
  display: inline-block;
  padding-left: 1px;
}
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.goods-section .b-goods-tabs a:hover {
  border-bottom-color: rgba(0,0,0,0);
}
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  min-width: 1200px;
}
body {
  position: relative;
}
.wrapper {
  width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.img {
  display: block;
}
.main-nav {
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  background: -webkit-linear-gradient(top, #333 0%, #111 100%);
  background: linear-gradient(180deg, #333 0%, #111 100%);
}
.main-nav__content {
  height: 50px;
}
.main-nav__left {
  float: left;
}
.main-nav__right {
  float: right;
}
.main-nav__right .main-nav__a {
  margin-right: 31px;
}
.main-nav__a {
  display: block;
  float: left;
  line-height: 50px;
  margin-right: 32px;
  font-size: 15px;
  color: #fff;
}
.main-nav__a:last-child {
  margin-right: 0;
}
.main-nav__a:hover em {
  border-bottom-color: rgba(0,0,0,0);
}
.main-nav__em {
  display: inline-block;
  font-style: normal;
}
.main-nav__em.solid {
  border-bottom: 1px solid #fec80c;
}
.main-nav__em.dotted {
  border-bottom: 1px dotted #fec80c;
}
.main-header__content {
  padding-top: 36px;
  padding-bottom: 38px;
  font-size: 15px;
}
.main-header__logo-img {
  float: left;
}
.main-header__logo-slogan {
  font-size: 16px;
  line-height: 22px;
  float: left;
  margin-top: 17px;
  margin-left: 35px;
  color: #666;
}
.main-header__info {
  float: left;
  text-align: right;
  margin-left: 86px;
  margin-top: 5px;
}
.main-header__tel {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #333;
  margin-bottom: 7px;
}
.main-header__shedule {
  color: #666;
  margin-bottom: 2px;
}
.main-header__order-call {
  color: #ca0c32;
}
.main-header__em {
  border-bottom: 1px dotted #ca0c32;
  cursor: pointer;
}
.main-header__em:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section {
  position: relative;
  color: #fff;
}
.header-section__bg-wrapper {
  position: absolute;
  overflow: hidden;
  top: 204px;
  left: 0;
  width: 100%;
}
.header-section__bg-wrapper .wrapper {
  position: relative;
  height: 70px;
}
.header-section__top {
  position: relative;
  height: 70px;
  padding-left: 0;
}
.header-section__top-bg-left,
.header-section__top-bg-right {
  width: 10000px;
  height: 100%;
  position: absolute;
}
.header-section__top-bg-left {
  background: #fec80c;
  background: -webkit-gradient(linear, left top, left bottom, from(#fec80c), to(#f68c1f));
  background: -webkit-linear-gradient(top, #fec80c 0%, #f68c1f 100%);
  background: linear-gradient(180deg, #fec80c 0%, #f68c1f 100%);
  z-index: 2;
  top: 0;
  right: -106px;
}
.header-section__top-bg-right {
  background: #cc0c32;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc0c32), to(#9f0b29));
  background: -webkit-linear-gradient(top, #cc0c32 0%, #9f0b29 100%);
  background: linear-gradient(180deg, #cc0c32 0%, #9f0b29 100%);
  z-index: 1;
  top: 0;
  left: 1304px;
}
.header-section__triangle {
  position: absolute;
  top: 0;
  right: -25px;
}
.header-section__menu {
  position: absolute;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  background: -webkit-linear-gradient(top, #333 0%, #111 100%);
  background: linear-gradient(180deg, #333 0%, #111 100%);
  cursor: pointer;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 209px;
  height: 55px;
}
.header-section__menu.open .header-section__menu-span {
  background: #fec80c;
}
.header-section__menu.open .header-section__sub-menu {
  display: block;
}
.header-section__menu-icon {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 19px;
  height: 17px;
}
.header-section__menu-span {
  position: absolute;
  background: #fff;
  left: 0;
  width: 100%;
  height: 3px;
}
.header-section__menu-span:nth-child(1) {
  top: 0;
}
.header-section__menu-span:nth-child(2) {
  top: 7px;
}
.header-section__menu-span:nth-child(3) {
  bottom: 0;
}
.header-section__menu-p {
  font-size: 18px;
  line-height: 49px;
  padding-left: 53px;
}
.header-section__menu-em {
  border-bottom: 1px solid #444;
}
.header-section__sub-menu {
  display: none;
  position: absolute;
  background: #222;
  padding-top: 23px;
  top: 55px;
  left: 0;
  padding-left: 52px;
  height: 502px;
  width: 300px;
  cursor: default;
}
.header-section__sub-menu-li {
  display: block;
  cursor: pointer;
  padding-bottom: 15px;
}
.header-section__sub-menu-li.active .header-section__sub-menu-li-container .header-section__sub-menu-em {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__sub-menu-li.active .header-section__sub-menu-li-container:after {
  content: '';
  position: absolute;
  background: #ca0c32;
  z-index: 1;
  right: -8px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-section__sub-menu-li.active .header-section__sub-sub-menu {
  display: block;
}
.header-section__sub-menu-li-container {
  position: relative;
  padding-right: 20px;
}
.header-section__sub-menu-li-container > em {
  border-bottom: 1px solid #808080;
}
.header-section__sub-menu-li-container:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__sub-menu-icon {
  position: absolute;
  left: -35px;
  top: 0px;
}
.header-section__sub-sub-menu {
  display: none;
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: 300px;
  height: 502px;
  font-size: 15px;
  cursor: default;
}
.header-section__sub-sub-menu-main-a {
  display: block;
  color: #333;
  font-size: 24px;
  padding-left: 30px;
  line-height: 30px;
  margin-top: 23px;
  margin-bottom: 19px;
  width: 252px;
}
.header-section__sub-sub-menu-main-a > em {
  border-bottom: 1px solid #333;
}
.header-section__sub-sub-menu-main-a:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__sub-sub-menu-ul {
  color: #666;
  width: 300px;
  padding-left: 30px;
  float: left;
}
.header-section__sub-sub-menu-ul:nth-child(2):after {
  content: '';
  position: absolute;
  left: 300px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ccc;
}
.header-section__sub-sub-menu-li {
  margin-bottom: 11px;
}
.header-section__sub-sub-menu-a > em {
  border-bottom: 1px solid #666;
}
.header-section__sub-sub-menu-a:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__sub-sub-menu-li-ul {
  color: #999;
  font-size: 14px;
  padding-left: 20px;
  margin-top: 3px;
}
.header-section__sub-sub-menu-li-a > em {
  border-bottom: 1px solid #999;
}
.header-section__sub-sub-menu-li-a:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__search {
  position: absolute;
  z-index: 3;
  left: 237px;
  bottom: 9px;
  width: 600px;
}
.header-section__input {
  border-bottom: 3px solid #e77405;
  width: 100%;
  padding-right: 40px;
  padding-bottom: 7px;
  padding-left: 10px;
  background: rgba(0,0,0,0);
  font-size: 18px;
  color: #fff;
}
.header-section__button {
  position: absolute;
  background: #333;
  top: 4px;
  right: 10px;
  width: 21px;
  height: 21px;
}
.header-section__basket {
  position: absolute;
  z-index: 3;
  right: 70px;
  width: 189px;
  height: 35px;
  bottom: 12px;
}
.header-section__basket-p {
  display: inline;
  position: absolute;
  bottom: 7px;
  left: 0;
  border-bottom: 1px dotted #fff;
  font-size: 18px;
  cursor: pointer;
}
.header-section__basket-p:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__basket-sum-wrapper {
  position: absolute;
  height: 100%;
  left: 75px;
  bottom: 0;
}
.header-section__basket-count {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #ca0c32;
  background: -webkit-gradient(linear, left top, left bottom, from(#e82a50), to(#ca0c32));
  background: -webkit-linear-gradient(top, #e82a50 0%, #ca0c32 100%);
  background: linear-gradient(180deg, #e82a50 0%, #ca0c32 100%);
  text-align: center;
  line-height: 36px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.header-section__basket-sum {
  display: inline-block;
  background: #fff;
  line-height: 32px;
  padding-left: 39px;
  padding-right: 15px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 3px solid #e77405;
  height: 100%;
  white-space: nowrap;
}
.header-section__basket-sum-em {
  color: #666;
}
.header-section__button-sale {
  position: absolute;
  background: #ca0c32;
  left: 0;
  bottom: 40px;
  width: 275px;
  height: 45px;
  line-height: 45px;
  padding-left: 54px;
  -webkit-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
  font-size: 17px;
}
.header-section__button-sale > em {
  border-bottom: 1px solid #d9546f;
}
.header-section__button-sale:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.header-section__button-sale:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 19px;
  width: 20px;
  height: 20px;
  background: #000;
}
.header-section__bottom {
  height: 502px;
  background: #333;
}
.header-section__bottom-wrapper {
  padding-right: 0;
  padding-left: 0;
}
.header-section__slider-wrapper {
  position: relative;
  width: 900px;
  float: right;
}
.header-section__slider .slick-dots {
  position: absolute;
  top: 20px;
  left: 85px;
}
.header-section__slider .slick-dots li {
  display: inline-block;
  margin-right: 8px;
}
.header-section__slider .slick-dots li.slick-active button {
  background: #d43d5b;
}
.header-section__slider .slick-dots button {
  width: 15px;
  height: 15px;
  background: #454749;
  font-size: 0;
}
.header-section__slider-item {
  position: relative;
  height: 502px;
  padding-top: 60px;
  padding-left: 60px;
}
.header-section__slider-p {
  display: inline-block;
  background: #f7c01e;
  padding: 20px;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: -18px;
}
.header-section__slider-em {
  border-bottom: 2px solid #e46112;
}
.goods-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #f2f2f2 100%);
  background: linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 100%);
  height: 560px;
}
.goods-section__content {
  padding-left: 0;
  padding-right: 0;
  padding-top: 46px;
}
.goods-section .b-goods {
  position: relative;
}
.goods-section .b-goods-tabs {
  padding-left: 294px;
}
.goods-section .b-goods-tabs a {
  position: relative;
  display: inline-block;
  line-height: 18px;
  color: #333;
  font-size: 28px;
  text-decoration: none;
  margin-right: 98px;
  padding-bottom: 7px;
  border-bottom: 1px solid #808080;
}
.goods-section .b-goods-tabs span {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: -43px;
  width: 35px;
  height: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fec70c), to(#f68e1e));
  background: -webkit-linear-gradient(top, #fec70c, #f68e1e);
  background: linear-gradient(to bottom, #fec70c, #f68e1e);
  -webkit-border-radius: 100%;
          border-radius: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
}
.goods-section .b-goods-tabs a.m-active {
  border-bottom: 4px solid #ca0c32;
  cursor: default;
}
.goods-section .b-goods-control {
  position: absolute;
  top: -5px;
  right: 19px;
}
.goods-section .b-goods-arrow {
  display: inline-block;
  width: 40px;
  height: 37px;
  background: url("../../images/carousel-arrow.png") no-repeat;
  margin-left: 7px;
}
.goods-section .b-goods-arrow.m-left {
  background-position: left top;
}
.goods-section .b-goods-arrow.m-right {
  background-position: right top;
}
.goods-section .b-goods-arrow.m-left:hover {
  background-position: left bottom;
}
.goods-section .b-goods-arrow.m-right:hover {
  background-position: right bottom;
}
.goods-section .b-goods-gitems {
  position: relative;
  height: 510px;
  margin-bottom: -10px;
  overflow: hidden;
}
.goods-section .b-goods-gitem {
  position: relative;
  width: 100000px;
  padding-top: 34px;
}
.goods-section .b-goods-item {
  position: relative;
  float: left;
  width: 200px;
  height: 375px;
  padding-top: 240px;
  border: 3px solid rgba(0,0,0,0);
  padding-right: 20px;
  padding-left: 20px;
}
.goods-section .b-goods-item:hover {
  border-color: #fec80c;
  background: #fff;
  -webkit-box-shadow: 0 -21px 71px -29px #bfbfbf;
          box-shadow: 0 -21px 71px -29px #bfbfbf;
  height: 471px;
}
.goods-section .b-goods-item:hover .goods-item-price .left p,
.goods-section .b-goods-item:hover .goods-item-price .right .b_ot,
.goods-section .b-goods-item:hover .b_order {
  display: block !important;
}
.goods-section .b-goods-item-img {
  display: block;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 160px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}
.goods-section .b-goods-item-name {
  display: block;
  color: #999;
  font-size: 14px;
  line-height: 23px;
}
.goods-section .b-goods-item-name > em {
  border-bottom: 1px solid #999;
}
.goods-section .b-goods-item-name:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.goods-section .b-goods-item-link {
  display: block;
  color: #ca0c32;
  font-size: 15px;
  line-height: 23px;
  height: 65px;
}
.goods-section .b-goods-item-link > em {
  border-bottom: 1px solid #ca0c32;
}
.goods-section .b-goods-item-link:hover > em {
  border-bottom-color: rgba(0,0,0,0);
}
.goods-section .b-goods-item-descr {
  color: #333;
  font-size: 13px;
  line-height: 18px;
}
.goods-section .b-goods-item-price {
  padding: 14px 0 16px 0;
}
.goods-section .b-goods-item-price span {
  display: inline-block;
  padding: 0 2px;
}
.goods-section .b-goods-item-price span.m-new {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: #000;
}
.goods-section .b-goods-item-price span.m-old {
  font-size: 15px;
  line-height: 19px;
  color: #666;
  text-decoration: line-through;
}
.goods-section .b-goods-item-btn {
  display: block;
  position: absolute;
  top: -100000%;
  opacity: 0;
  left: -1px;
  width: 200px;
  font-family: 'PT Sans', sans-serif;
  height: 41px;
  font-size: 15px;
  line-height: 41px;
  color: #fff;
  font-weight: bold !important;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 0 #ba0024;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #e9002d;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-out;
  -webkit-transition: all opacity 0.3s;
  transition: all opacity 0.3s;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMDAyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxMDEyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+");
  background-image: -webkit-linear-gradient(bottom, #e3002b 0%, #f1012f 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3002b), to(#f1012f));
  background-image: linear-gradient(bottom, #e3002b 0%, #f1012f 100%);
}
.goods-section .b-goods-item:hover .b-goods-item-btn {
  opacity: 1;
  top: 100%;
  margin-top: -2px;
}
.goods-section .goods-item-price .left,
.goods-section .goods-item-price .right {
  padding-top: 12px;
}
.goods-section .goods-item-price .left p,
.goods-section .goods-item-price .right p {
  margin-bottom: 4px;
}
.goods-section .goods-item-price .left {
  float: left;
  text-align: right;
  width: 43%;
}
.goods-section .goods-item-price .left p {
  font-size: 18px;
  line-height: 18px;
  color: #999;
  display: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.goods-section .goods-item-price .left p:nth-child(1) {
  color: #000;
  font-size: 22px;
  line-height: 18px;
  display: block;
}
.goods-section .goods-item-price .right {
  float: right;
  width: 57%;
  text-align: right;
  font-size: 14px;
}
.goods-section .goods-item-price .right p {
  margin-bottom: 1px;
}
.goods-section .goods-item-price .right em {
  display: inline-block;
  padding: 0px 5px;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  line-height: 19px;
}
.goods-section .goods-item-price .right .b_many em {
  background: #47a626;
}
.goods-section .goods-item-price .right .b_enough em {
  background: #2877bf;
}
.goods-section .goods-item-price .right .b_few em {
  background: #ca0c32;
}
.goods-section .goods-item-price .right .b_ord em {
  background: #aaa;
}
.goods-section .goods-item-price .right .b_ot {
  color: #999;
  display: none;
}
.goods-section .b_order {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 31px;
}
.goods-section .b_order .b_input_wrapper {
  position: absolute;
  left: 14px;
  width: 80px;
}
.goods-section .b_order .b_input_wrapper input {
  width: 100%;
  text-align: center;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.goods-section .b_order .b_input_wrapper .btn {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #ddd;
  text-align: center;
  cursor: pointer;
  color: #333;
  top: 0;
}
.goods-section .b_order .b_input_wrapper .btn_p {
  right: 0;
}
.goods-section .b_order .b_input_wrapper .btn_m {
  left: 0;
}
.goods-section .b_order button {
  position: absolute;
  right: -8px;
  bottom: -7px;
  width: 100px;
  height: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  background: #ca0c32;
}
.goods-section .b_i_wrapper {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}
.goods-section .b_i_wrapper i {
  display: block;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin-top: -10px;
}
.form-section {
  color: #fff;
  width: 1160px;
  margin: auto;
  height: 123px;
  background: url("../../images/f1.jpg") center center no-repeat;
  background-size: cover;
  padding-left: 118px;
  padding-right: 119px;
}
.form-section__p {
  font-size: 25px;
  line-height: 40px;
  float: left;
}
.form-section__em {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.form-section-form {
  float: right;
}
.form-section-form__input,
.form-section-form__button {
  height: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.form-section-form__input {
  background: rgba(0,0,0,0.8);
  width: 215px;
  margin-right: 7px;
  border: 1px solid #fff;
  padding-left: 11px;
  color: #fff;
}
.form-section-form__button {
  width: 122px;
  background: rgba(202,15,50,0.8);
  color: #fff;
}
.masonry-section {
  position: relative;
  padding-top: 21px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 37px;
}
.masonry-section:before,
.masonry-section:after {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  width: 2px;
  height: 100%;
  background: #f2f2f2;
}
.masonry-section:before {
  left: 33.333%;
}
.masonry-section:after {
  right: 33.333%;
}
.masonry-section__content {
  padding-left: 0;
  padding-right: 0;
}
.masonry-section__item {
  width: 33.333%;
  border-bottom: 2px solid #f2f2f2;
  float: left;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;
}
.masonry-section .count {
  color: #999;
}
.masonry-section__item-header {
  font-size: 28px;
}
.masonry-section__item-header .link {
  border-bottom: 1px solid #000;
}
.masonry-section__item-header .link:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.masonry-section__item-goods {
  padding-top: 30px;
}
.masonry-section__item-goods .left,
.masonry-section__item-goods .right {
  width: 50%;
  float: left;
}
.masonry-section__item-goods .left {
  padding-right: 20px;
}
.masonry-section__item-goods .right {
  padding-left: 20px;
}
.masonry-section__item-goods .ico {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 130px;
  height: 150px;
  margin-bottom: 8px;
}
.masonry-section__item-goods .name,
.masonry-section__item-goods count {
  font-size: 17px;
  line-height: 23px;
}
.masonry-section__item-goods .name {
  border-bottom: 1px solid #000;
}
.masonry-section__item-goods .name:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.masonry-section__item-footer {
  padding-top: 14px;
}
.masonry-section__item-footer .link {
  color: #ca0c32;
  border-bottom: 1px solid #ca0c32;
  font-size: 15px;
  line-height: 23px;
}
.masonry-section__item-footer .link:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.masonry-section__item-footer .count {
  display: inline-block;
  margin-right: 3px;
}
.banners-section__banner {
  position: relative;
  overflow: hidden;
  width: 560px;
  height: 252px;
  padding-top: 27px;
  padding-left: 29px;
}
.banners-section__banner.left {
  float: left;
}
.banners-section__banner.right {
  float: right;
}
.banners-section__banner:hover .banners-section__banner-img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.banners-section__banner:after {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banners-section__banner-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 560px;
  height: 252px;
}
.banners-section__banner-content {
  position: relative;
  z-index: 3;
  width: 280px;
}
.banners-section__banner-header {
  display: inline;
  border-bottom: 1px solid #fec80c;
  color: #fec80c;
  font-size: 24px;
  line-height: 28px;
}
.banners-section__banner-desc {
  color: #fff;
  font-size: 15px;
  padding-top: 15px;
  line-height: 22px;
}
.banners-section__a-button {
  display: block;
  position: absolute;
  z-index: 4;
  bottom: 28px;
  left: 30px;
  padding: 9px 14px;
  background: #ca0c32;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
}
.news-rotator {
  margin-top: 76px;
}
.news-rotator .b-title {
  position: relative;
  border-bottom: 3px double #f2f2f2;
  padding-bottom: 15px;
}
.news-rotator .b-title-content {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 27px;
  color: #333;
  text-decoration: none;
  padding-left: 20px;
}
.news-rotator a.b-title-content:hover {
  ext-decoration: underline;
}
.news-rotator .b-title-right {
  position: absolute;
  top: 0;
  right: 20px;
  color: #999;
  font-size: 15px;
  margin-top: 5px;
  border-bottom: 1px solid #999;
}
.news-rotator .b-title-righthover {
  border-bottom-color: rgba(0,0,0,0);
}
.news-rotator .b-carousel-pages {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  list-style: none;
  padding: 3px 0 0 34px;
}
.news-rotator .b-carousel-pages li {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px 10px 1px 1px;
  cursor: pointer;
  border: 2px solid #bdc5c3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.news-rotator .b-carousel-pages li.m-active,
.news-rotator .b-carousel-pages li:hover {
  width: 15px;
  height: 15px;
  margin-left: 1px !important;
  border: 4px solid #000;
  cursor: default;
}
.news-rotator .b-carousel-pages li:hover {
  cursor: pointer;
}
.news-rotator .b-carousel {
  position: relative;
  overflow: hidden;
}
.news-rotator .b-carousel-items {
  position: relative;
  overflow: hidden;
  width: 100000px;
}
.news-rotator .b-carousel-item {
  position: relative;
  float: left;
}
.news-rotator .b-carousel.m-partner {
  padding: 30px 0 93px 0;
}
.news-rotator .b-carousel.m-project {
  padding: 20px 0 15px 0;
}
.news-rotator .b-carousel.m-people {
  padding: 0px 0 40px 0;
}
.news-rotator .b-carousel.m-news {
  padding: 0px 0 51px 0;
}
.news-rotator .b-news {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  width: 260px;
}
.news-rotator .b-news-title {
  font-size: 17px;
  line-height: 24px;
  color: #ca0c32;
  text-transform: uppercase;
  padding-top: 39px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.news-rotator .b-news-title a {
  border-bottom: 1px solid #ca0c32;
}
.news-rotator .b-news-title a:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.news-rotator .b-news-title a {
  font-size: 16px;
  line-height: 22px;
  color: #ea002d;
  font-weight: bold;
  text-transform: uppercase;
}
.news-rotator .b-news-date {
  font-size: 13px;
  line-height: 19px;
  color: #b2b2b2;
  padding-top: 10px;
}
.news-rotator .b-news-content {
  font-size: 15px;
  line-height: 21px;
  color: #777;
  padding-top: 14px;
}
.news-rotator .b-news-link {
  padding-top: 29px;
  padding-bottom: 7px;
}
.news-rotator .b-news-link a {
  display: inline-block;
  padding: 9px 19px;
  text-decoration: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ca0c32;
  color: #fff;
  font-size: 16px;
}
.news-rotator__content {
  padding-left: 0;
  padding-right: 0;
}
.main-footer {
  color: #fff;
  background: #333;
  margin-top: 39px;
  padding-top: 27px;
  padding-bottom: 49px;
}
.main-footer__item {
  float: left;
  margin-right: 40px;
}
.main-footer__header {
  font-size: 24px;
  margin-bottom: 24px;
  color: #fff;
  line-height: 35px;
}
.main-footer__adress {
  width: 260px;
  font-size: 17px;
}
.main-footer__adress-li {
  position: relative;
  padding-left: 23px;
  margin-bottom: 13px;
}
.main-footer__links-ul {
  width: 560px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  line-height: 22px;
}
.main-footer__links-ul li {
  line-height: 22px;
  margin-bottom: 7px;
}
.main-footer__adress-tel {
  color: #fec80c;
}
.main-footer__adress-icon {
  position: absolute;
  top: 2px;
  left: -2px;
}
.main-footer__soc {
  width: 260px;
  margin-right: 0;
  color: #888;
  font-size: 15px;
}
.main-footer__links .main-footer__a {
  border-bottom: 1px solid #ccc;
  color: #ccc;
}
.main-footer__a {
  font-size: 15px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.main-footer__a:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.main-footer__soc-icons {
  margin-top: -5px;
  margin-bottom: 17px;
}
.down-footer {
  padding-top: 22px;
  padding-bottom: 20px;
  background: #222;
  color: #fff;
  font-size: 15px;
}
.down-footer__copy {
  float: left;
  line-height: 30px;
}
.down-footer__copy .copy {
  color: #888;
}
.down-footer__vendor {
  position: relative;
  float: right;
  width: 260px;
  line-height: 30px;
  padding-left: 40px;
}
.down-footer__vendor-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.down-footer__a {
  border-bottom: 1px solid #fff;
}
.down-footer__a:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.page-content-wrapper {
  position: relative;
}
.page-content-wrapper .wrapper {
  padding-left: 0;
  padding-right: 0;
}
.page-content-wrapper .content-goods-cell {
  position: relative;
  width: 1020px;
}
.page-content-wrapper .content-goods-cell:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 3px;
  background: #666;
}
.page-content-wrapper .bitrix-filter-cell {
  width: 180px;
}
#filter-product {
  width: 1020px;
  overflow: hidden;
}
#filter-product .goods-section .b-goods-gitem {
  position: relative;
  width: auto;
  padding-top: 0;
}
#filter-product .goods-section {
  height: auto;
  background: #fff;
}
#filter-product .goods-section__content {
  padding-top: 0;
}
#filter-product .goods-section .b-goods-gitems {
  height: auto;
  margin-bottom: 0;
  overflow: visible;
}
#filter-product .b-goods-row {
  position: absolute;
  left: 0;
  height: 375px;
}
.bitrix-filter {
  background: #333;
  width: 180px;
  height: 500px;
  float: right;
}
.bread-block {
  padding-top: 31px;
  padding-bottom: 5px;
}
.bread-block a {
  font-size: 15px;
  color: #999;
  border-bottom: 1px solid #999;
}
.bread-block a:hover {
  border-bottom-color: rgba(0,0,0,0);
}
.bread-block em {
  font-size: 15px;
  color: #ca0c32;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.header-goods-table .wrapper {
  padding-left: 0;
}
.header-goods-table__content {
  width: 1000px;
  padding-left: 20px;
  padding-top: 3px;
}
.header-goods-table__content h1 {
  font-size: 28px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #333;
}
.header-goods-table .items {
  padding-top: 31px;
  padding-bottom: 9px;
}
.header-goods-table .items .item {
  float: left;
  line-height: 15px;
}
.header-goods-table .items .item em,
.header-goods-table .items .item a {
  display: inline-block;
  position: relative;
  line-height: 1;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #666;
}
.header-goods-table .items .item em.active,
.header-goods-table .items .item a.active {
  color: #000;
  margin-right: 15px;
}
.header-goods-table .items .item em.arr,
.header-goods-table .items .item a.arr {
  border-bottom-color: rgba(0,0,0,0);
}
.header-goods-table .items .item em.arr em,
.header-goods-table .items .item a.arr em {
  border-bottom: 1px solid #666;
  color: #000;
}
.header-goods-table .items .item em.down:after,
.header-goods-table .items .item a.down:after {
  content: '';
  position: absolute;
  right: -12px;
  bottom: -1px;
  border: 4px solid transparent;
  border-top: 5px solid #ca0c32;
}
.header-goods-table .items .item em.up:after,
.header-goods-table .items .item a.up:after {
  content: '';
  position: absolute;
  right: -12px;
  bottom: 3px;
  border: 4px solid transparent;
  border-bottom: 5px solid #ca0c32;
}
.header-goods-table .items .item:nth-child(1) {
  width: 40px;
}
.header-goods-table .items .item:nth-child(2) {
  width: 458px;
  padding-left: 78px;
}
.header-goods-table .items .item:nth-child(3) {
  width: 231px;
}
.header-goods-table .items .item:nth-child(4) {
  width: 250px;
}
.header-goods-table .items .item:nth-child(4) a.active {
  margin-right: 0;
}
.header-goods-table .table-view {
  width: 16px;
  height: 16px;
  background: #ca0c32;
  float: left;
  cursor: pointer;
}
.header-goods-table .linear-view {
  width: 16px;
  height: 16px;
  background: #333;
  float: right;
  cursor: pointer;
}
.header-goods-table .view-active {
  background: #00f;
}
.info-a,
.info-list-wrapper {
  display: none;
}
#linear-view-goods #filter-product {
  height: auto !important;
}
#linear-view-goods #filter-product .goods-section .b-goods-item .goods-item-price .left p,
#linear-view-goods #filter-product .goods-section .b-goods-item .goods-item-price .right .b_ot,
#linear-view-goods #filter-product .goods-section .b-goods-item .b_order {
  display: block !important;
}
#linear-view-goods #filter-product .b-goods-row {
  position: relative;
  top: 0 !important;
  height: auto;
}
#linear-view-goods #filter-product .b-goods-item {
  position: relative;
  width: 1000px;
  height: 265px;
  padding-top: 14px;
  padding-left: 216px;
  float: none;
}
#linear-view-goods #filter-product .b-goods-item:hover {
  height: 265px;
}
#linear-view-goods #filter-product .goods-section .b-goods-item-link {
  width: 560px;
}
#linear-view-goods #filter-product .goods-section .b-goods-item-link> em {
  font-size: 18px;
}
#linear-view-goods #filter-product .goods-item-price,
#linear-view-goods #filter-product .b_order {
  width: 173px;
  position: absolute;
  right: 15px;
  left: auto;
  bottom: auto;
}
#linear-view-goods #filter-product .goods-item-price {
  top: 37px;
}
#linear-view-goods #filter-product .b_order {
  top: 138px;
}
#linear-view-goods #filter-product .b_order .b_input_wrapper {
  left: auto;
  right: 0;
}
#linear-view-goods #filter-product .b_order button {
  right: 1px;
  top: 40px;
}
#linear-view-goods #filter-product .info-a {
  display: block;
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 14px;
  color: #999;
}
#linear-view-goods #filter-product .goods-section .goods-item-price .left p {
  margin-bottom: 6px;
}
#linear-view-goods #filter-product .goods-section .goods-item-price .left p:nth-child(1) {
  line-height: 21px;
}
#linear-view-goods #filter-product .goods-section .goods-item-price .right p {
  margin-bottom: 4px;
}
#linear-view-goods #filter-product .info-list-wrapper {
  display: block;
  width: 536px;
}
#linear-view-goods #filter-product .info-list-wrapper .info-list {
  width: 234px;
  float: left;
}
#linear-view-goods #filter-product .info-list-wrapper .info-list:nth-child(2) {
  float: right;
}
#linear-view-goods #filter-product .info-list-wrapper .info-list .table_cell {
  line-height: 1.4;
  color: #999;
  font-size: 14px;
  border-bottom: 1px solid #e7e7e7;
}
#linear-view-goods #filter-product .info-list-wrapper .info-list .table_cell:first-child {
  padding-right: 20px;
}
#linear-view-goods #filter-product .info-list-wrapper .info-list .table_cell:last-child {
  color: #000;
  text-align: left;
}
#linear-view-goods #filter-product .info-list-wrapper .info-list .table_row:last-child .table_cell {
  border-bottom-color: rgba(0,0,0,0);
}
